

body {
    min-height: 200vh;
    background-color: #f8f9fa;
}

.main-navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #f8f9fa;
    height: 100px;
}

.banner {
    height: calc(100vh - 100px);
    background-image: 
        linear-gradient(rgba(0, 90, 180, 0.7), rgba(0, 77, 154, 0.7)), 
        url('/inoxnobre/archive/Corrimao-de-Parede-Home-1.webp');
    background-color: #114e8b;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    color: white; /* Make text visible on the banner */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
